body
{
  text-allign: center;
}
.clearBox
{
  clear: right;
  height: 50px;
  width: 50px;
  background-color: tomato;
  float: left;
  padding: 10px;
  margin-right: 4px;
  overflow: auto;
}
#containerBox {
  position: fixed;
  /*position: static | relative | absolute | fixed;*/
  top: 0px;
  left: 50%;
  
/*  margin: auto;*/
  height: 300px;
  width: 40%;
  background-color: #FF7043;
}

#contentBox {
  border: solid 1px blue;
  margin: 37px;
  padding: 14px;
  width: 200px;
}

.floatBox {
  height: 50px;
  width: 50px;
  background-color: tomato;
  float: left;
  padding: 10px;
  margin-right: 3px;
}